<!-- Add new sale button -->
<button type="button" class="newSaleButton btn ml-auto mr-1 d-flex align-items-center" data-toggle="modal" data-target="#createNewSale" style="height: 20px; width: 20px;">
    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
</button>
<!-- Add new sale modal -->
<form>
    <div class="modal fade" id="createNewSale" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- modal header -->
                <div class="modal-header" style="padding-bottom: 0;">
                    <h5 class=" modal-title" id="modalLabel">New Sale</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: white;">&times;</span>
                    </button>
                </div>

                <!-- modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label" style="color: lightslategray"><strong>Sale Name</strong></label>
                        <input autocomplete="off" type="text" class="form-control" id="new-sale-name" placeholder="Name" required>
                    </div>
                    <div class="form-group row d-flex justify-content-between" style="padding: 0 1rem; margin-bottom: 0;">
                        <div class="form-group">
                            <label for="size-text" class="col-form-label" style="color: lightslategray"><strong>Size</strong></label>
                            <input autocomplete="off" name="size" type="text" class="form-control" id="new-sale-size" placeholder="Size" required>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label" style="color: lightslategray"><strong>Price Paid</strong></label>
                            <input autocomplete="off" name="price" type="text" class="form-control" id="new-sale-price" placeholder="Price" required>
                        </div>
                        <div class="form-group">
                            <label for="date-text" class="col-form-label" style="color: lightslategray"><strong>Date Purchased</strong></label>
                            <input autocomplete="off" name="date" type="text" class="form-control" id="new-sale-date" value="<%= date%>" required>
                        </div>
                    </div>

                    <div class="form-group row d-flex justify-content-between" style="padding: 0 1rem;">
                        <div class="form-group">
                            <label for="buyer-text" class="col-form-label" style="color: lightslategray"><strong>Buyer</strong></label>
                            <input autocomplete="off" name="buyer" type="text" class="form-control" id="new-sale-buyer" placeholder="Buyer's Name" required>
                        </div>
                        <div class="form-group">
                            <label for="soldPrice-text" class="col-form-label" style="color: lightslategray"><strong>Price Sold</strong></label>
                            <input autocomplete="off" name="soldPrice" type="text" class="form-control" id="new-sale-soldprice" placeholder="Price Sold" required>
                        </div>
                    </div>
                </div>

                <!-- modal footer -->
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn" style="background-color: lightslategray;" data-dismiss="modal">Close</button>
                        <button type="submit" class="newSaleButtonSubmit btn" data-dismiss="modal">Add Sale</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>