#inventory {
    height: 95vh;
    padding-top: 10vh;
}

#statistic{
    height: 95vh;
}
.inventory-block{
    height: 95%;
    padding: 30px;
    margin-bottom: 5vh;
    border-radius: 30px;
    background-color: #212233;
}

/* item colors #2D2F49 */
h4{
    margin-bottom: 20px;
}

.inventory-scroll-list{
    width: 100%;
    height: 90%;
    overflow: scroll;
    overflow-x:hidden;
    border-radius: 30px;
    background-color: transparent;
}

.inventory-item{
    width: 98%;
    height: 75px;
    color: grey;
    padding: 10px 25px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #2D2F49;
}

.item-title{
    color: #7988F2;
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-price{
    color: white;
    font-size: 16px;
}

.item-info{
    font-size: 12px;
}

.no-outline:focus{
    outline: none;
}

.item-edit {
    text-align: center;
    right:50%;
}

.buyerName{
    color:grey;
}

.profit{
    color: rgb(71, 187, 115);
}

.greyButton{
    color:grey;
}

.greyButton:hover{
    color:white;
}

.cloneItemButton{
    color:grey;
}
.cloneItemButton:hover{
    color:white;
}

.deleteSaleButton{
    color:red;
}

.deleteSaleButton:hover{
    color:rgb(175, 0, 0);
}

.deleteItemButton{
    color:red;
}

.deleteItemButton:hover{
    color:rgb(175, 0, 0);
}

.sellButton{
    color:rgb(71, 187, 115);
}

.sellButton:hover{
    color:rgb(0, 255, 100);
}

.statistics-sections{
    
    border-radius: 30px;
    margin-bottom: 30px;
}

.statistics-text{
    font-size: 1.25rem;
    text-align: center;
    color: grey;
}

.statistics-text-block{
    background-color: rgb(45, 47, 73);
    border-radius: 30px;
    padding:10px;
    margin-bottom: 20px;
}

.statistics-text-highlighted{
    font-size: 3rem;
    text-align: center;
    color: #7988F2;
}