html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(27, 27, 38);
    font-family: 'Roboto', sans-serif;
    color:white;
    height: 100%;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.form-control, .form-control:active, .form-control:focus{
    color:black;
    background-color: whitesmoke;
    border-style: none;
    outline: none !important;
    box-shadow: none;
}

input, input:active, input:focus{
    color:rgb(27, 27, 38);
    outline: none !important;
    box-shadow: none;
}
input::placeholder{
    color: black;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(45, 47, 73, 0.7);
    border-radius: 20px;
}
  
::-webkit-scrollbar-track {
    background: rgb(27, 27, 38);
    border-radius: 20px;
}