.modal-content{
    background-color: rgb(29, 29, 46);
    /* background-color: #2D2F49; */
}

.modal-body{
    background-color: rgb(29, 29, 46);
}

.modal-header {
    background-color: rgb(29, 29, 46);
    color: #7988F2;
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

input{
    color: #7988F2;
    font-weight: 700;
}

input:focus {
    outline: none !important;
}
