.modal-content{
    background-color: #2D2F49;
}

.modal-body{
    background-color: #2D2F49;
}
.modal-header {
    background-color: #2D2F49;
    color: #7988F2;
}

input{
    color: #7988F2;
    font-weight: 700;
}

input:focus {
    outline: none !important;
}